# Common build output directory names
.build/
_build/
build-output/

# Common bazel output directories
bazel-*

# Common editor files
*~
*.swp
.ycm_extra_conf.py

# Ignore IDEA / IntelliJ files
.idea/
cmake-build-*/

